div {
  background: white;
  background: linear-gradient(35deg, 
    var(--my-accent-color) 0%, 
    white 30%, 
    white 70%,
    var(--my-accent-color) 100%);
  border-radius: 5px;
  box-shadow:
  inset 0px 0px 10px 4px var(--my-shadow-color2),
  0px 12px 70px 14px black;
}

textarea { 
 font-family: arial, sans-serif;
 line-height: 1.3;
 margin: 10px;
 border-radius: 5px;
 font-size: 15px;
 outline: none;
 border: none;
 display: inline-block;
 position: absolute;
 resize: vertical;
  box-shadow:
  inset -1px -1px 2px var(--my-shadow-color2),
  inset -3px -3px 2px var(--my-shadow-color1), 
  inset 1px 1px 2px var(--my-shadow-color2),
  inset 3px 3px 2px var(--my-shadow-color1),  
  3px 3px 7px black;
}

button {
  overflow: hidden;
  overflow-wrap: normal;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.1s ease;
  position: absolute;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: black; 
  margin: 0px;
  color: black;
  background: linear-gradient(155deg, 
    var(--my-accent-color) 0%, 
    white 30%, 
    white 70%,
    var(--my-accent-color) 100%);
  text-shadow: 0px 0px 1px;
  box-shadow:
  inset -1px -1px 2px black,
  inset -3px -3px 2px white, 
  inset 1px 1px 2px var(--my-shadow-color1),
  inset 3px 3px 2px var(--my-shadow-color2),  
  3px 3px 7px black;
}

button:active {
  transform: translateY(1px);
  box-shadow:
  inset -1px -1px 2px black,
  inset -3px -3px 2px white, 
  inset 1px 1px 2px var(--my-shadow-color1),
  inset 3px 3px 2px var(--my-shadow-color2), 
  2px 2px 2px black;
}

.noShow {
  box-shadow: none;
  background: none;
}

#glowDiv {
  font-family: 'Brush Script MT', cursive;
  font-weight: 700;
  bottom: 25px;
  right: 140px;
  position: absolute;
  display: inline-block;
  font-size: 30px;
  color: var(--glow-txt-color);
  text-shadow:   
    1px 1px 1px var(--glow-outline-color), 
   -1px -1px 1px var(--glow-outline-color), 
   -1px 1px 1px var(--glow-outline-color), 
    1px -1px 1px var(--glow-outline-color),
    0px 0px 10px var(--my-glow-color),
    0px 0px 15px var(--my-glow-color),
    0px 0px 30px var(--my-glow-color);
  animation: Shine 7s infinite linear;
}

@keyframes Shine {
  0% {
  text-shadow:   
    1px 1px 1px var(--glow-outline-color), 
   -1px -1px 1px var(--glow-outline-color), 
   -1px 1px 1px var(--glow-outline-color), 
    1px -1px 1px var(--glow-outline-color),
    0px 0px 10px var(--my-glow-color),
    0px 0px 15px var(--my-glow-color),
    0px 0px 30px var(--my-glow-color);
  }
  50% {
  text-shadow:   
    1px 1px 1px var(--glow-outline-color), 
   -1px -1px 1px var(--glow-outline-color), 
   -1px 1px 1px var(--glow-outline-color), 
    1px -1px 1px var(--glow-outline-color),
    0px 0px 10px var(--my-glow-color),
    0px 0px 17px var(--my-glow-color),
    0px 0px 27px var(--my-glow-color),
    0px 0px 40px var(--my-glow-color),
    0px 0px 60px var(--my-glow-color);
  }
}

input[type="color"] {
  margin-top: 10px;
}

#userName {
  margin-top: 10px;
}

.picker {
  font-size: 16px;
  height: 35px;
  width: 100px;
}

#setColors{
  position: absolute;
  display: inline-block;
  bottom: 15px;
  right:15px;
  height: 50px;
  width: 120px;
}

#exitColor {
  position: absolute;
  display: inline-block;
  bottom: 15px;
  right: 150px;
}

#defaultColors {
  position: absolute;
  display: inline-block;
  top: 380px;
  left: 95px;
  width: 130px;
}

#presetGrey {
  position: absolute;
  display: inline-block;
  top: 430px;
  left: 95px;
  width: 130px;
}

#presetRed {
  position: absolute;
  display: inline-block;
  top: 480px;
  left: 95px;
  width: 130px;
}

#presetGreen {
  position: absolute;
  display: inline-block;
  top: 530px;
  left: 95px;
  width: 130px;
}

#appearDiv {
  font-size: 18px;
  top: 100px;
  left: 150px;
  height: 600px;
  width: 600px;
  position: absolute;
  display: inline-block;
  padding: 15px;
  z-index: 9;
}

#BGpick {
  position: absolute;
  display: inline-block;
  margin: 0px;
  top: 25px;
  left: 10px;
  width: 300px;
  text-align: center;
}

#ACpick {
  position: absolute;
  display: inline-block;
  margin: 0px;
  top: 110px;
  left: 10px;
  width: 300px;
  text-align: center;
}

#shad1Pick {
  position: absolute;
  display: inline-block;
  margin: 0px;
  top: 195px;
  left: 10px;
  width: 300px;
  text-align: center;
}

#shad2Pick {
  position: absolute;
  display: inline-block;
  margin: 0px;
  top: 280px;
  left: 10px;
  width: 300px;
  text-align: center;
}

#nameLabelDiv {
  position: absolute;
  display: inline-block;
  margin: 0px;
  width: 300px;
  top: 25px;
  right: 10px;
  text-align: center;
}

#namecolorLabelDiv {
  position: absolute;
  display: inline-block;
  margin: 0px;
  top: 110px;
  right: 10px;
  width: 300px;
  text-align: center;
}

#nameOutlineDiv {
  position: absolute;
  display: inline-block;
  margin: 0px;
  top: 195px;
  right: 10px;
  width: 300px;
  text-align: center;
}

#glowLabelDiv {
  position: absolute;
  display: inline-block;
  margin: 0px;
  top: 280px;
  right: 10px;
  width: 300px;
  text-align: center;
}

.overlay {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  background: none;
  height: 90%;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
  color: white;
  transition: 0.5s;
}

.overlay-content.appearTut {
  width: 100%;
  margin-top: 25px;
  transition: 0.5s;
}

.overlay-content.appearTut.Low {
  position: absolute;
  width: 100%;
  bottom: 300px;
  transition: 0.5s;
}

.overlay-content.appearTut.X {
  width: 100%;
  margin-top: 225px;
  transition: 0.5s;
}

#tutHolder {
  color: white;
  transition: 0.5s;
  text-align: center;
  vertical-align: middle;
}

.MainTutbtn{
  position: relative;
  display: block;
  font-size: 25px;
  color: white;
  z-index: 10000;
  text-decoration-line: none;
}

.overlay-content#myNavHead {
  font-size: 25px;
  height: 5%;
}

.overlay-content#myNavHead1 {
  height: 20%;
}

.TutChoice:hover {
 font-weight: 1000;
}

.overlay-content.authTut {
  width: 100%;
  margin-top: 35px;
  transition: 0.5s;
  font-size: 18px;
}

.overlay-content.authTut.X {
  width: 70%;
  margin-left: 30%;
}

.overlay-content.rightsec {
  height: 17%;
  width: 100%;
  text-align: left;
  margin-left: 400px;
  transition: 0.5s;
}

.overlay-content.leftsec {
  height: 17%;
  width: 100%;
  text-align: left;
  margin-left: 20px;
  transition: 0.5s;
}

.overlay-content.leftsec.short {
  height: 8%;
}

.overlay-content.rightsec.slim {
  height: 14%;
  margin-left: 460px;
}

.overlay-content.rightsec.short {
  height: 8%;
  margin-left: 460px;
}

.overlay-content.hide {
  height: 30%;
  width: 0%;
  text-align: left;
  transition: 0.5s;
}

.overlay .nextbtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 20px;
  color: white;
  z-index: 10000;
}

.overlay .closebtn {
  position: absolute;
  bottom: 20px;
  right: 45px;
  font-size: 20px;
  color: white;
  z-index: 10000;
}

.none {
  left:0px;
  width: 0px;
  height: 0px;
  display: none;
}

#areaOne {
  position:absolute;
  display:inline-block;
  top: 0px;
  left:0px;
  transition: 0.5s;
}

#myNav2 {
  text-align: center;
}