/*Restricted Use License

This code is provided under the following terms and conditions:

1. You are not allowed to use, copy, modify, merge, publish, distribute, sublicense, or sell copies of this code in any form, modified or unmodified, without express written permission from the author.

2. You are not allowed to use this code for any illegal or unethical purpose.

3. This license applies to all versions of the code previously released, as well as all future versions. Any prior statements made about permission given are hereby revoked.

4. This code is provided "as is", without warranty of any kind, express or implied. The author shall not be liable for any damages arising from the use of this code.

By using this code, you agree to abide by these terms and conditions. Failure to comply with these terms may result in legal action.

For inquiries regarding licensing or permission to use this code in ways not covered by this license, please contact the author at AdjusterConsole@gmail.com.  */
/* LaborScript, SideNav, tutorial, toggle sliders */

#cancelState {
  bottom: 5px;
  left: 175px;
  border-right: 2px solid var(--my-accent-color);
}

#backState {
  bottom: 5px;
  left: 5px;
  border-right: 2px solid var(--my-accent-color);
}

#advanceState {
  bottom: 5px;
  right: 5px;
  border-left: 2px solid var(--my-accent-color);
}

.state_back {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 98%;
  height: 98%;
  z-index: 6;
  background: none;
  box-shadow: none;
  border: none;
  outline: none;
}

.Mradio.stmt_temp_rad {
  float: right;
  width: 16px;
  height: 16px;
  margin-right: 15px;
}

.CS_bot label {
  float: right;
  margin-right: 5px;
}

#time_owned {
  margin: 5px;
  width: 50px;
  font-size: 17px;
}

option, select {
  font-size: 17px;
}

#approx_mile {
  margin: 5px;
  width: 100px;
  font-size: 17px;
}

.CS_bot {
  line-height: 1.4;
  margin-top: 10px;
}

.state_main {
  position: absolute;
  height: 50%;
  width: 70%;
  margin: 200px 125px;
  padding: 15px;
  background: var(--fancy-background);
  box-shadow:
   inset 0px 0px 10px 4px var(--my-shadow-color2),
   0px 12px 70px 14px black;
  overflow: hidden;
}

.CS_bot textarea {
  display: inline-block;
  position: absolute;
  width: 307px;
  height: 100px;
  margin-top: 45px;
  margin-left: 55px;
  padding: 15px;
  resize: none;
}

.chState_div {
  padding: 15px;
  margin: auto;
  width: 70%;
  height: 50%; 
  background: linear-gradient(315deg, var(--fancy-meddark), var(--fancy-medlight));
  box-shadow: -5px -5px 16px var(--fancy-dark), 5px 5px 16px var(--fancy-light)
}

.CS_top {
  background: none;
  box-shadow: none;
}

.CS_bot {
  background: none;
  box-shadow: none;
}

.ls_main {
  position: absolute;
  display: block;
  width: 98%;
  height: 98%;
  z-index: 6;
  background: none;
  box-shadow: none;
  border: none;
  outline: none;
}

.ls_sub {
  height: 75%;
  width: 75%;
  margin: auto;
  padding: 15px
}

.ls_sub2 {
  height: 75%;
  width: 75%;
  margin: auto;
  padding: 15px
  border-radius: 20px;
  background: var(--fancy-background);
  box-shadow:
    inset 0px 0px 4px black,
    inset 0px 0px 22px black,
    20px 10px 70px 20px black;
  overflow: hidden;
}

.head_labor {
  text-align: center;
  color: var(--glow-txt-color);
  text-shadow:
    1px 1px 2px var(--glow-outline-color),
   -1px -1px 2px var(--glow-outline-color),
   -1px 1px 2px var(--glow-outline-color),
    1px -1px 2px var(--glow-outline-color);
}

.side_div {
  width: 55%;
  float: right;
  text-align: center;
}

.side_div input[type="number"] {
  width: 80px;
  outline: none;
  font-size: 18px;
  margin-top: 5px;
}

.side_div label {
  margin: 5px;
}

.side_sub {
  margin-right: 90px;
  height: 70px;
}

.revert {
  background: none;
  box-shadow: none;
  border: none;
  outline: none;
}

.drop_sub {
  float: right;
}

.label_sub.drop_sub {
  text-align: right;
  line-height: 1.5;
}

.menu_sub.drop_sub {
  text-align: left;
  margin-left: 10px;
  line-height: 1.5;
}

.script_btn {
  position: initial;
  display: initial;
  margin: 10px;
  width: 100px;
}

.script_btn2 {
  position: initial;
  display: initial;
  border: 2px solid var(--my-accent-color);
  margin: 10px;
  background: none;
  border-radius: 5px;
  padding: 10px 15px;
  box-shadow: none;
  min-width: 120px;
  min-height: 45px;
  font-size: 17px;
  font-weight: bold;
  text-shadow:
    1px 1px 1px var(--glow-outline-color),
   -1px -1px 1px var(--glow-outline-color),
   -1px 1px 1px var(--glow-outline-color),
    1px -1px 1px var(--glow-outline-color);
}

.left_div {
  float: left;
  width: 38%;
  text-align: justify;
  margin-left: 45px;
}

.flt_lft.revert {
  border: 2px solid black;
  position: absolute;
  display: block;
  padding: 10px;
  bottom: 230px;
  left: -10px;
  width: 65%;
  height: 270px;
  margin-left: 165px;
}

.flt_lft2.revert {
  border: 2px solid var(--my-accent-color);
  position: absolute;
  display: block;
  padding: 10px;
  bottom: 270px;
  left: 10px;
  width: 60%;
  height: 270px;
  margin-left: 165px;
}

#myScript {
  width: auto;
}

.sub_offer {
  position: absolute;
  display: inline-block;
  bottom: 20px;
  left: 15px;
}

#acceptScript {
  position: absolute;
  display: inline-block;
  bottom: 15px;
  left: 150px;
}

#resetScript {
  position: absolute;
  display: inline-block;
  bottom: 15px;
  right: 15px;
}

#buildScript {
  position: absolute;
  display: inline-block;
  bottom: 75px;
  right: 15px;
}

#labor_result_outer {
  position: absolute;
  display: block;
  top: 150px;
  left: 150px;
  height: 500px;
  width: 600px;
  z-index: 7;
  padding: 25px;
}

#exitScript2 {
  position: absolute;
  display: inline-block;
  top: -10px;
  left: 110px;
  border-top: none;
  border-left: none;
}

#exitScript {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 110px;
  border-top: none;
  border-left: none;
}

#openScript {
  font-size: 17px;
  left: 250px;
  top: 170px;
}

#openScript2 {
  font-size: 17px;
  left: 250px;
  top: 170px;
  color: var(--glow-txt-color);
}

#closeResult {
  padding: 10px 15px;
  margin: 15px;
  float: right;
}

#showResult {
  position: absolute;
  display: inline-block;
  bottom: 15px;
  right: 150px;
  width: 130px;
}

.sidenav {
  box-shadow:
    0px 0px 15px black,
    0px 0px 30px black;
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0px;
  right: -250px;
  background: var(--my-background-color);
  overflow: hidden;
  transition: all 0.5s ease;
  padding-top: 30px;
  text-align: left;
  z-index: 2;
  border-left: 2px solid var(--my-accent-color);
}

.open_nav.sidenav {
  right: -1px;
  z-index: 4;
  transition: all 0.5s ease;
  border-left: 2px solid var(--my-glow-color);
}

.sidenav button {
  padding: 0px;
  background: none;
  font-size: 16px;
  color: var(--glow-txt-color);
  display: block;
  position: initial;
  cursor: pointer;
  transition: all 0.5s ease;
  font-weight: bold;
  width: 100%;
  height: 34px;
  text-align: center;
  margin: -6px auto;
  box-shadow: none;
  border-radius: 0px;
  white-space: nowrap;
  text-shadow:
    1px 1px 1px var(--glow-outline-color),
   -1px -1px 1px var(--glow-outline-color),
   -1px 1px 1px var(--glow-outline-color),
    1px -1px 1px var(--glow-outline-color);
}

.sidenav button.color_mod {
  color: var(--glow-outline-color);
  text-shadow:
    1px 1px 1px var(--glow-txt-color),
   -1px -1px 1px var(--glow-txt-color),
   -1px 1px 1px var(--glow-txt-color),
    1px -1px 1px var(--glow-txt-color);
}

.sidenav button.color_mod:hover {
  background: var(--fancy-background);
  color: var(--glow-txt-color);
  text-shadow:
    1px 1px 1px var(--glow-outline-color),
    -1px -1px 1px var(--glow-outline-color),
    -1px 1px 1px var(--glow-outline-color),
    1px -1px 1px var(--glow-outline-color);
}

.sidenav button:hover {
  background: var(--fancy-background);
  color: var(--glow-outline-color);
  text-shadow:
    1px 1px 1px var(--glow-txt-color),
   -1px -1px 1px var(--glow-txt-color),
   -1px 1px 1px var(--glow-txt-color),
    1px -1px 1px var(--glow-txt-color);
}

.sidenav .closebtn {
  position: absolute;
  top: -5px;
  left: 5px;
  font-size: 25px;
  margin-right: 65px;
  color: var(--glow-txt-color);
  text-decoration: none;
  text-shadow:
    1px 1px 1px var(--glow-outline-color),
   -1px -1px 1px var(--glow-outline-color),
   -1px 1px 1px var(--glow-outline-color),
    1px -1px 1px var(--glow-outline-color);
}

.sidenav .navHeader {
  font-size: 20px;
  font-weight: bold;
  text-decoration-line: underline;
}

.sidenav .navEnder {
  margin-bottom: 15px;
}

.otherone {
  display: inline-block;
  position: fixed;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  height: 60px;
  width: 40px;
  line-height: 60px;
  border-radius: 10px 0px 0px 10px;
  border-left: 2px solid var(--my-accent-color);
  border-bottom: 2px solid var(--my-accent-color);
  border-top: 2px solid var(--my-accent-color);
  background: var(--my-background-color);
  z-index: 3;
  text-align: center;
  box-shadow:
    0px 0px 15px black,
    0px 0px 30px black;
  padding: 0px;
  transition: all 0s ease;
 &:active {
  background: none;
  box-shadow: none;
  transform: translateY(0px);
  }
}

#swap1 {
  right: 0px;
  top: 400px;
  height: 60px;
  width: 40px;
  vertical-align: middle;
}

.sop_btn {
  width: 100%;
  box-shadow: none;
  padding: 5px;
  background: none;
  font-size: 16px;
  color: var(--glow-outline-color);
  text-shadow:
    1px 1px 1px var(--glow-txt-color),
   -1px -1px 1px var(--glow-txt-color),
   -1px 1px 1px var(--glow-txt-color),
    1px -1px 1px var(--glow-txt-color);
  display: block;
  position: initial;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  width: 100%;
  height: 34px;
  text-align: center;
  margin: -5px auto;
  box-shadow: none;
  border-radius: 0px;
  white-space: nowrap;
}

.sop_btn.neu {
  color: var(--glow-txt-color);
  text-shadow:
    1px 1px 1px var(--glow-outline-color),
   -1px -1px 1px var(--glow-outline-color),
   -1px 1px 1px var(--glow-outline-color),
    1px -1px 1px var(--glow-outline-color);
}

.sop_btn.neu:hover {
  color: var(--glow-outline-color);
  text-shadow:
    1px 1px 1px var(--glow-txt-color),
   -1px -1px 1px var(--glow-txt-color),
   -1px 1px 1px var(--glow-txt-color),
    1px -1px 1px var(--glow-txt-color);
}

.sop_nav button:hover {
  background: var(--fancy-background);
  color: var(--glow-txt-color);
  text-shadow:
    1px 1px 1px var(--glow-outline-color),
    -1px -1px 1px var(--glow-outline-color),
    -1px 1px 1px var(--glow-outline-color),
    1px -1px 1px var(--glow-outline-color);
}

.sop_btn .navEnder {
  margin-bottom: 15px;
}

#sopnav {
  height: 0px;
  width: 275px;
  bottom: 0px;
  right: 50px;
}

#sopnav2 {
  height: 0px;
  width: 275px;
  bottom: 0px;
  right: 350px;
}

#sopnav3 {
  height: 0px;
  width: 275px;
  bottom: 0px;
  right: 650px;
}

#sopnav.open_sop {
  height: 500px;
  z-index: 1001;
  padding-top: 35px;
}

#sopnav2.open_sop {
  height: 560px;
  z-index: 1001;
  padding-top: 35px;
}

#sopnav3.open_sop {
  height: 620px;
  z-index: 1001;
  padding-top: 35px;
}

.sop_nav {
  box-shadow:
    0px 0px 15px black,
    0px 0px 30px black;
  position: fixed;
  padding-top: 0px;
  background: var(--my-background-color);
  overflow: hidden;
  transition: all 0.5s ease;
  z-index: 2;
  border-left: 2px solid var(--my-accent-color);
  border-right: 2px solid var(--my-accent-color);
  border-top: 2px solid var(--my-accent-color);
}

.sop_nav.open_sop {
  box-shadow:
    0px 0px 15px black,
    0px 0px 30px black;
  z-index: 4;
  transition: all 0.5s ease;
  border-left: 2px solid var(--my-glow-color);
  border-right: 2px solid var(--my-glow-color);
  border-top: 2px solid var(--my-glow-color);
  border-radius: 10px 10px 0px 0px;
}

.sop_nav .navHeader {
  font-size: 20px;
  font-weight: bold;
  text-decoration-line: underline;
}

.sop_nav .navEnder {
  margin-bottom: 15px;
}

.PDF_depot {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: none;
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
}

.PDF_depot iframe {
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: none;
}

.close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 1001;
}

.nav_tag {
  bottom: 0px;
  right: 60px;
  display: inline-block;
  position: absolute;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px 10px 0px 0px;
  border-left: 2px solid var(--my-accent-color);
  border-right: 2px solid var(--my-accent-color);
  border-top: 2px solid var(--my-accent-color);
  box-shadow:
    0px 0px 15px black,
    0px 0px 30px black;
  background: var(--my-background-color);
  z-index: 3;
  text-align: center;
  padding: 10px;
  transition: all 0s ease;
  color: var(--glow-outline-color);
  text-shadow:
    1px 1px 1px var(--glow-txt-color),
   -1px -1px 1px var(--glow-txt-color),
   -1px 1px 1px var(--glow-txt-color),
    1px -1px 1px var(--glow-txt-color);
 &:active {
  background: none;
  box-shadow: none;
  transform: translateY(0px);
  }
}

.nav_tag.neu_style {
  color: var(--glow-txt-color);
  text-shadow:
    1px 1px 1px var(--glow-outline-color),
   -1px -1px 1px var(--glow-outline-color),
   -1px 1px 1px var(--glow-outline-color),
    1px -1px 1px var(--glow-outline-color);
}

.sop_nav .close_pdf {
  position: absolute;
  top: -5px;
  left: 5px;
  font-size: 25px;
  margin-right: 65px;
  color: var(--glow-txt-color);
  text-decoration: none;
  text-shadow:
    1px 1px 1px var(--glow-outline-color),
   -1px -1px 1px var(--glow-outline-color),
   -1px 1px 1px var(--glow-outline-color),
    1px -1px 1px var(--glow-outline-color);
}

#switchdivIndiv {
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  display: inline-block;
  top: 10px;
  left: 25px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 29px;
  height: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sd {
  display: block;
  margin: 5px;
  margin-left: 0px;
  float: left;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 13px;
}

.slider.round:before {
  border-radius: 50%;
}

.swapVer {
  cursor: pointer;
  font-size: 14px;
  position: absolute;
  display: inline-block;
  background: none;
  text-decoration: none;
  box-shadow: none;
  top: 0px;
  left: 410px;
  color: var(--glow-txt-color);
  text-shadow:
    1px 1px 1px var(--glow-outline-color),
   -1px -1px 1px var(--glow-outline-color),
   -1px 1px 1px var(--glow-outline-color),
    1px -1px 1px var(--glow-outline-color);
}

.swapVer:active {
  transition: all 0s ease;
  background: none;
  box-shadow: none;
}

