/* LaborScript, SideNav, tutorial, toggle sliders */

.ls_main {
  position: absolute;
  display: block;
  width: 98%;
  height: 98%;
  z-index: 6;
  background: none;
  box-shadow: none;
  border: none;
  outline: none;
}

.ls_sub {
  height: 75%;
  width: 75%;
  margin: auto;
  padding: 15px
}

.ls_sub2 {
  height: 75%;
  width: 75%;
  margin: auto;
  padding: 15px
  border-radius: 20px;
  background: var(--fancy-background);
  box-shadow:
    inset 0px 0px 4px black,
    inset 0px 0px 22px black,
    20px 10px 70px 20px black;
  overflow: hidden; 
}

.head_labor {
  text-align: center;
  color: var(--glow-txt-color);
  text-shadow:   
    1px 1px 2px var(--glow-outline-color), 
   -1px -1px 2px var(--glow-outline-color), 
   -1px 1px 2px var(--glow-outline-color), 
    1px -1px 2px var(--glow-outline-color);
}

.side_div {
  width: 55%;
  float: right;
  text-align: center;
}

.side_div input[type="number"] {
  width: 80px;
  outline: none;
  font-size: 18px;
  margin-top: 5px;
}

.side_div label {
  margin: 5px;
}

.side_sub {
  margin-right: 90px;
  height: 70px;
}

.revert {
  background: none;
  box-shadow: none;
  border: none;
  outline: none;
}

.drop_sub {
  float: right;
}

.label_sub.drop_sub {
  text-align: right;
  line-height: 1.5;
}

.menu_sub.drop_sub {
  text-align: left;
  margin-left: 10px;
  line-height: 1.5;
}

.script_btn {
  position: initial;
  display: initial;
  margin: 10px;
  width: 100px;
}

.script_btn2 {
  position: initial;
  display: initial;
  border: 2px solid var(--my-accent-color);
  margin: 10px;
  background: none;
  border-radius: 5px;
  padding: 10px 15px;
  box-shadow: none;
  min-width: 120px;
  min-height: 45px;
  font-size: 17px;
  font-weight: bold;
  text-shadow:   
    1px 1px 1px var(--glow-outline-color), 
   -1px -1px 1px var(--glow-outline-color), 
   -1px 1px 1px var(--glow-outline-color), 
    1px -1px 1px var(--glow-outline-color);
}

.left_div {
  float: left;
  width: 38%;
  text-align: justify;
  margin-left: 45px;
}

.flt_lft.revert {
  border: 2px solid black;
  position: absolute;
  display: block;
  padding: 10px;
  bottom: 230px;
  left: -10px;
  width: 65%;
  height: 270px;
  margin-left: 165px;
}

.flt_lft2.revert {
  border: 2px solid var(--my-accent-color);
  position: absolute;
  display: block;
  padding: 10px;
  bottom: 270px;
  left: 10px;
  width: 60%;
  height: 270px;
  margin-left: 165px;
}

#myScript {
  width: auto;
}

.sub_offer {
  position: absolute;
  display: inline-block;
  bottom: 20px;
  left: 15px;
}

#acceptScript {
  position: absolute;
  display: inline-block;
  bottom: 15px;
  left: 150px;
}

#resetScript {
  position: absolute;
  display: inline-block;
  bottom: 15px;
  right: 15px;
}

#buildScript {
  position: absolute;
  display: inline-block;
  bottom: 75px;
  right: 15px;
}

#labor_result_outer {
  position: absolute;
  display: block;
  top: 150px;
  left: 150px;
  height: 500px;
  width: 600px;
  z-index: 7;
  padding: 25px;
}

#exitScript2 {
  position: absolute;
  display: inline-block;
  top: -10px;
  left: 110px;
  border-top: none;
  border-left: none;
}

#exitScript {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 110px;
  border-top: none;
  border-left: none;
}

#openScript {
  font-size: 17px;
  left: 250px;
  top: 170px;
}

#openScript2 {
  font-size: 17px;
  left: 250px;
  top: 170px;
  color: var(--glow-txt-color);
}

#closeResult {
  padding: 10px 15px;
  margin: 15px;
  float: right;
}

#showResult {
  position: absolute;
  display: inline-block;
  bottom: 15px;
  right: 150px;
  width: 130px;
}

.sidenav {
  box-shadow: 0px 0px 50px black;
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0px;
  right: -250px;
  background: var(--my-background-color);
  overflow: hidden;
  transition: all 0.5s ease;
  padding-top: 30px;
  text-align: left;
  z-index: 2;
  border-left: 2px solid var(--my-accent-color);
}

.open_nav.sidenav {
  right: -1px;
  z-index: 4;
  transition: all 0.5s ease;
  border-left: 2px solid var(--my-glow-color);
}

.sidenav button {
  padding: 0px;
  background: none;
  font-size: 16px;
  color: var(--glow-txt-color);
  display: block;
  position: initial;
  cursor: pointer;
  transition: all 0.5s ease;
  font-weight: bold;
  width: 100%;
  height: 34px;
  text-align: center;
  margin: -5px auto;
  box-shadow: none;
  border-radius: 0px;
  white-space: nowrap;
  text-shadow:   
    1px 1px 1px var(--glow-outline-color), 
   -1px -1px 1px var(--glow-outline-color), 
   -1px 1px 1px var(--glow-outline-color), 
    1px -1px 1px var(--glow-outline-color);
}

.sidenav button.color_mod {
  color: var(--glow-outline-color);
  text-shadow:   
    1px 1px 1px var(--glow-txt-color), 
   -1px -1px 1px var(--glow-txt-color), 
   -1px 1px 1px var(--glow-txt-color), 
    1px -1px 1px var(--glow-txt-color);
}

.sidenav button.color_mod:hover {
  background: var(--fancy-background);
  color: var(--glow-txt-color);
  text-shadow:
    1px 1px 1px var(--glow-outline-color), 
    -1px -1px 1px var(--glow-outline-color), 
    -1px 1px 1px var(--glow-outline-color), 
    1px -1px 1px var(--glow-outline-color);
}

.sidenav button:hover {
  background: var(--fancy-background);
  color: var(--glow-outline-color);
  text-shadow:   
    1px 1px 1px var(--glow-txt-color), 
   -1px -1px 1px var(--glow-txt-color), 
   -1px 1px 1px var(--glow-txt-color), 
    1px -1px 1px var(--glow-txt-color);
}

.sidenav .closebtn {
  position: absolute;
  top: -5px;
  left: 5px;
  font-size: 25px;
  margin-right: 65px;
  color: var(--glow-txt-color);
  text-decoration: none;
  text-shadow:   
    1px 1px 1px var(--glow-outline-color), 
   -1px -1px 1px var(--glow-outline-color), 
   -1px 1px 1px var(--glow-outline-color), 
    1px -1px 1px var(--glow-outline-color);
}

.sidenav .navHeader {
  font-size: 20px;
  font-weight: bold;
  text-decoration-line: underline;
}

.sidenav .navEnder {
  margin-bottom: 15px;  
}

.otherone {
  display: inline-block;
  position: fixed;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  height: 60px;
  width: 40px;
  line-height: 60px;
  border-radius: 10px 0px 0px 10px;
  border-left: 2px solid var(--my-accent-color);
  border-bottom: 2px solid var(--my-accent-color);
  border-top: 2px solid var(--my-accent-color);
  box-shadow: 0px 0px 50px black;
  background: var(--my-background-color);
  z-index: 3;
  text-align: center;
  padding: 0px;
  transition: all 0s ease;
 &:active {
  background: none;
  box-shadow: none;
  transform: translateY(0px);
  }
}

#swap1 {
  right: 0px;
  top: 400px;
  height: 60px;
  width: 40px;
}

.overlay {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  background: none;
  height: 90%;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
  color: white;
  transition: 0.5s;
}

.overlay-content.appearTut {
  width: 100%;
  margin-top: 25px;
  transition: 0.5s;
}

.overlay-content.appearTut.Low {
  position: absolute;
  width: 100%;
  bottom: 300px;
  transition: 0.5s;
}

.overlay-content.appearTut.X {
  width: 100%;
  margin-top: 225px;
  transition: 0.5s;
}

#tutHolder {
  color: white;
  transition: 0.5s;
  text-align: center;
  vertical-align: middle;
}

.MainTutbtn{
  position: relative;
  display: block;
  font-size: 25px;
  color: white;
  z-index: 10000;
  text-decoration-line: none;
}

.overlay-content#myNavHead {
  font-size: 25px;
  height: 5%;
}

.overlay-content#myNavHead1 {
  height: 20%;
}

.TutChoice:hover {
 font-weight: 1000;
}

.overlay-content.authTut {
  width: 100%;
  margin-top: 35px;
  transition: 0.5s;
  font-size: 18px;
}

.overlay-content.authTut.X {
  width: 70%;
  margin-left: 30%;
}

.overlay-content.rightsec {
  height: 17%;
  width: 100%;
  text-align: left;
  margin-left: 400px;
  transition: 0.5s;
}

.overlay-content.leftsec {
  height: 17%;
  width: 100%;
  text-align: left;
  margin-left: 20px;
  transition: 0.5s;
}

.overlay-content.leftsec.short {
  height: 8%;
}

.overlay-content.rightsec.slim {
  height: 14%;
  margin-left: 460px;
}

.overlay-content.rightsec.short {
  height: 8%;
  margin-left: 460px;
}

.overlay-content.hide {
  height: 30%;
  width: 0%;
  text-align: left;
  transition: 0.5s;
}

.overlay .nextbtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 20px;
  color: white;
  z-index: 10000;
}

.overlay .closebtn {
  position: absolute;
  bottom: 20px;
  right: 45px;
  font-size: 20px;
  color: white;
  z-index: 10000;
}

.none {
  left:0px;
  width: 0px;
  height: 0px;
  display: none;
}

#areaOne {
  position:absolute;
  display:inline-block;
  top: 0px;
  left:0px;
  transition: 0.5s;
}

#myNav2 {
  text-align: center;
}

#switchdivIndiv {
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  display: inline-block;
  top: 10px;
  left: 25px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 29px;
  height: 15px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sd {
  display: block;
  margin: 5px;
  margin-left: 0px;
  float: left;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 13px;
}

.slider.round:before {
  border-radius: 50%;
}