
@keyframes blurAndFade {
  0% {
    opacity: 1;
    filter: none;
    z-index: 1000
  }
  50% {
    opacity: 1;
    filter: blur(5px);
    z-index: 1000
  }
  99% {
    opacity: 0;
    filter: blur(10px);
    z-index: 1000
  }
  100% {
    opacity: 0;
    filter: blur(10px);
    z-index: -999999;
  }
}

.exit-effect {
  animation: blurAndFade 1.5s ease-in-out forwards;
}

.splashImg {
  width: 103%;
  height: 103%;
  position: fixed;
  top: -15px;
  left: -15px;
  z-index: 1; 
}

.splashImg2 {
  width: 103%;
  height: 103%;
  position: fixed;
  top: -15px;
  left: -15px;
  z-index: 0; 
}
