/*Restricted Use License

This code is provided under the following terms and conditions:

1. You are not allowed to use, copy, modify, merge, publish, distribute, sublicense, or sell copies of this code in any form, modified or unmodified, without express written permission from the author.

2. You are not allowed to use this code for any illegal or unethical purpose.

3. This license applies to all versions of the code previously released, as well as all future versions. Any prior statements made about permission given are hereby revoked.

4. This code is provided "as is", without warranty of any kind, express or implied. The author shall not be liable for any damages arising from the use of this code.

By using this code, you agree to abide by these terms and conditions. Failure to comply with these terms may result in legal action.

For inquiries regarding licensing or permission to use this code in ways not covered by this license, please contact the author at AdjusterConsole@gmail.com.  */

/* Misc and hidden, snipDiv(note gen), Custom Buttons    */

f {
  color: red;
}

.FNA {
  margin-top:15px;
}

div {
  background: var(--my-accent-color);
  border-radius: 5px;
  box-shadow:
  inset 0px 0px 10px 4px var(--my-shadow-color2),
  0px 12px 70px 14px black;
}

.noShow {
  box-shadow: none;
  background: none;
}

input[type="color"] {
  margin-top: 10px;
}

#userName {
  margin-top: 10px;
}

#glowDiv {
  font-family: 'Brush Script MT', cursive;
  font-weight: 700;
  top: 880px;
  left: 680px;
  width: 200px;
  text-align: center;
  position: absolute;
  display: inline-block;
  font-size: 30px;
  color: var(--glow-txt-color);
  text-shadow:
    1px 1px 1px var(--glow-outline-color),
   -1px -1px 1px var(--glow-outline-color),
   -1px 1px 1px var(--glow-outline-color),
    1px -1px 1px var(--glow-outline-color),
    0px 0px 10px var(--my-glow-color),
    0px 0px 15px var(--my-glow-color),
    0px 0px 30px var(--my-glow-color);
  animation: Shine 7s infinite linear;
}

@keyframes Shine {
  0% {
  text-shadow:
    1px 1px 1px var(--glow-outline-color),
   -1px -1px 1px var(--glow-outline-color),
   -1px 1px 1px var(--glow-outline-color),
    1px -1px 1px var(--glow-outline-color),
    0px 0px 10px var(--my-glow-color),
    0px 0px 15px var(--my-glow-color),
    0px 0px 30px var(--my-glow-color);
  }
  50% {
  text-shadow:
    1px 1px 1px var(--glow-outline-color),
   -1px -1px 1px var(--glow-outline-color),
   -1px 1px 1px var(--glow-outline-color),
    1px -1px 1px var(--glow-outline-color),
    0px 0px 10px var(--my-glow-color),
    0px 0px 17px var(--my-glow-color),
    0px 0px 27px var(--my-glow-color),
    0px 0px 40px var(--my-glow-color),
    0px 0px 60px var(--my-glow-color);
  }
}

.hideME {
  outline: none;
  left: 10px;
  top: 10px;
  width: 1px;
  height: 1px;
  z-index: -1;
  display: inline-block;
}

.div6 {
  font-size: 16px;
  top: 60px;
  left: 420px;
  position: absolute;
  display: none;
  z-index: 5;
  padding: 15px;
  margin: 10px;
  background: var(--fancy-background);
}

.dbacking.div6 {
  font-size: 17px;
  top: 40px;
  left: 420px;
  position: absolute;
  display: none;
  z-index: 5;
  padding: 30px;
  margin: 10px;
}

.astext {
  font-size: 15px;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-decoration:none;
  box-shadow: none;
  transition: all .1s ease;
  text-shadow: none;
  color: black;
  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: all .4s;
    z-index: -1;
  }
  &:hover {
    color: black;
    &:before {
      width: 0%;
    }
  }
}

.astext:active {
  box-shadow: none;
  text-decoration:none;
  background: none;
  border: none;
  text-shadow: 1px 1px 2px red;
}

#Snippings {
  padding: 10px;
  width: 280px;
  height: 90px;
  top: 5px;
  left: 135px;
  overflow:hidden;
  position: absolute;
}

.IBOBC {
  display: inline-block;
  position: absolute;
  margin: 0px;
  font-size: 14px;
}

.IBOBC2 {
  overflow: hidden;
  overflow-wrap: normal;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  position: absolute;
  display: inline-block;
  outline: none;
  padding: 10px;
  margin: 0px;
  border: none;
  border-radius: 15px;
  color: var(--glow-txt-color);
  background: linear-gradient(145deg, var(--my-shadow-color3), var(--my-shadow-color2));
  box-shadow:  2px 2px 6px var(--my-shadow-color4), -2px -2px 6px var(--my-shadow-color1);
  text-shadow:
    1px 1px 1px var(--glow-outline-color),
   -1px -1px 1px var(--glow-outline-color),
   -1px 1px 1px var(--glow-outline-color),
    1px -1px 1px var(--glow-outline-color);
}

.IBOBC2:active {
  transition: all 0.2s ease;
  background: var(--my-background-color));
  box-shadow:
    inset -2px -2px 5px var(--my-shadow-color1),
    inset 2px 2px 5px var(--my-shadow-color4);
}

.RFinboundDIV {
  display: inline-block;
  position: absolute;
  left: 350px;
  top: 5px;
}

.CHoutboundDIV {
  display: inline-block;
  position: absolute;
  left: 350px;
  top: 5px;
}

#RFIBDH {
  height: 65px;
  width: 120px;
  top: 0px;
  left: 130px;
}

#PNLCBTN {
  height: 65px;
  width: 120px;
  top: 0px;
  left: 260px;
}

#TOTALBTN {
  height: 65px;
  width: 120px;
  top: 80px;
  left: 130px;
}

#RFAUTHBTN {
  height: 65px;
  width: 120px;
  top: 80px;
  left: 260px;
}

#RFIBND {
  height: 65px;
  width: 120px;
  top: 0px;
  left: 130px;
}

#RFIBNE {
  height: 65px;
  width: 120px;
  top: 0px;
  left: 260px;
}

#RFIBNF {
  height: 65px;
  width: 120px;
  top: 80px;
  left: 130px;
}

#RFIBNV {
  height: 65px;
  width: 120px;
  top: 80px;
  left: 260px;
}

#TGAFOBTN {
  display: inline-block;
  position: absolute;
  height: 40px;
  width: 100px;
  top: 0px;
  left: 135px;
}

#TGAFSBTN {
  height: 40px;
  width: 100px;
  top: 52px;
  left: 135px;
}

#TGAFBBTN {
  height: 40px;
  width: 100px;
  top: 105px;
  left: 135px;
}

#NALVM {
  top: 20px;
  left: 270px;
  height: 50px;
  width: 120px;
}

#NANVM {
  top: 80px;
  left: 270px;
  height: 50px;
  width: 120px;
}

#TGAFOABTN {
  height: 40px;
  width: 120px;
  top: 0px;
  left: 135px;
}

#TGAFODBTN {
  height: 40px;
  width: 120px;
  top: 105px;
  left: 135px;
}

#TGAFOCBTN {
  height: 50px;
  width: 120px;
  top: 48px;
  left: 135px;
}

#TGAFSABTN {
  height: 40px;
  width: 120px;
  top: 0px;
  left: 135px;
}

#TGAFSDBTN {
  height: 40px;
  width: 120px;
  top: 105px;
  left: 135px;
}

#TGAFSCBTN {
  height: 50px;
  width: 120px;
  top: 48px;
  left: 135px;
}

#TGAFOSABTN {
  height: 65px;
  width: 120px;
  top: 0px;
  left: 135px;
}

#TGAFOSDSBTN {
  height: 65px;
  width: 120px;
  font-size: 12px;
  top: 0px;
  left: 270px;
}

#TGAFOSDBBTN {
  height: 65px;
  width: 120px;
  top: 80px;
  left: 135px;
}

#TGAFOSCBTN {
  height: 65px;
  width: 120px;
  top: 80px;
  left: 270px;
}

#TGAFBTN {
  height: 65px;
  width: 120px;
  top: 80px;
  left: 0px;
}

#RFIBBTN {
  letter-spacing: 2px;
  height: 65px;
  width: 120px;
  top: 0px;
  left: 0px;
  font-size: 17px;
}

#RESET {
  top: 160px;
  left: -5px;
  width: 60px;
  height: 35px;
  font-size: 11px;
}

#COPY {
  top: 160px;
  left: 65px;
  width: 60px;
  height: 35px;
  font-size: 11px;
}

#CopyZipBTN {
  top: 60px;
  left: 21px;
  z-index: 2;
}

#CopyMileBTN {
  top: 80px;
  left: 21px;
  z-index: 2;
}

#CopyPaymentBTN{
  top: 41px;
  left: 21px;
  z-index: 2;
}

#custBtns {
  position: absolute;
  display: inline-block;
  top: 10px;
  left: 10px;
}

#infoDiv1 {
  font-size: 14px;
  top: 150px;
  left: 165px;
  height: 450px;
  width: 600px;
  position: absolute;
  display: inline-block;
  border-radius: 5px;
  padding: 20px;
  z-index: 5;
}

#infoDiv2 {
  font-size: 14px;
  top: 150px;
  left: 165px;
  height: 450px;
  width: 600px;
  position: absolute;
  display: inline-block;
  border-radius: 5px;
  padding: 20px;
  z-index: 5;
}

#infoDone {
  width: 120px;
  height: 60px;
  bottom: 15px;
  right:  15px;
}

#infoDone2 {
  width: 120px;
  height: 60px;
  bottom: 15px;
  right:  15px;
}

#infoCancel {
  width: 80px;
  height: 40px;
  bottom: 15px;
  right:  145px;
}

#infoCancel2 {
  width: 80px;
  height: 40px;
  bottom: 15px;
  right:  145px;
}

.custom0 {
  position: absolute;
  display: inline-block;
  top: 10px;
  left: 10px;
  height: 60px;
  width: 150px;
}

#custBtn0 {
  position: absolute;
  display: inline-block;
}

#buttonSpot {
  position:absolute;
  display:inline-block;
  bottom:100px;
  right: 250px;
}

#BtnDisplay {
  top: 180px;
  left: 80px;
  padding: 10px;
}

#BtnContent {
  top: 230px;
  left: 80px;
  padding: 10px;
}

#radioLine {
  position:absolute;
  display:inline-block;
  left: 100px;
}

#custBtn0 {
  display: none;
}

#custBtn1 {
  display: none;
}

#custBtn2 {
  display: none;
}

#custBtn3 {
  display: none;
}

#custBtn4 {
  display: none;
}

#custBtn5 {
  display: none;
}

#custBtn6 {
  display: none;
}

#custBtn7 {
  display: none;
}

#custBtn8 {
  display: none;
}

#custBtn9 {
  display: none;
}

.custom0 {
  position: ABSOLUTE;
  display: inline-block;
}