/*Restricted Use License

This code is provided under the following terms and conditions:

1. You are not allowed to use, copy, modify, merge, publish, distribute, sublicense, or sell copies of this code in any form, modified or unmodified, without express written permission from the author.

2. You are not allowed to use this code for any illegal or unethical purpose.

3. This license applies to all versions of the code previously released, as well as all future versions. Any prior statements made about permission given are hereby revoked.

4. This code is provided "as is", without warranty of any kind, express or implied. The author shall not be liable for any damages arising from the use of this code.

By viewing this code, you agree to abide by these terms and conditions. Failure to comply with these terms may result in legal action.

For inquiries regarding licensing or permission to use this code in ways not covered by this license, please contact the author at AdjusterConsole.com.  */
textarea { 
 font-family: arial, sans-serif;
 line-height: 1.3;
 margin: 10px;
 border-radius: 5px;
 font-size: 15px;
 outline: none;
 border: none;
 display: inline-block;
 position: absolute;
 resize: vertical;
  box-shadow:
  inset -1px -1px 2px var(--my-shadow-color2),
  inset -3px -3px 2px var(--my-shadow-color1), 
  inset 1px 1px 2px var(--my-shadow-color2),
  inset 3px 3px 2px var(--my-shadow-color1),  
  3px 3px 7px black;
}

button {
  overflow: hidden;
  overflow-wrap: normal;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.1s ease;
  position: absolute;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: black; 
  margin: 0px;
  color: black;
  background: linear-gradient(155deg, 
    var(--my-accent-color) 0%, 
    white 30%, 
    white 70%,
    var(--my-accent-color) 100%);
  text-shadow: 0px 0px 1px;
  box-shadow:
  inset -1px -1px 2px black,
  inset -3px -3px 2px white, 
  inset 1px 1px 2px var(--my-shadow-color1),
  inset 3px 3px 2px var(--my-shadow-color2),  
  3px 3px 7px black;
}

button:active {
  transform: translateY(1px);
  box-shadow:
  inset -1px -1px 2px black,
  inset -3px -3px 2px white, 
  inset 1px 1px 2px var(--my-shadow-color1),
  inset 3px 3px 2px var(--my-shadow-color2), 
  2px 2px 2px black;
}

.picker {
  font-size: 16px;
  height: 35px;
  width: 100px;
}

#setColors{
  position: absolute;
  display: inline-block;
  bottom: 15px;
  right:15px;
  height: 50px;
  width: 120px;
}

#exitColor {
  position: absolute;
  display: inline-block;
  bottom: 15px;
  right: 150px;
}

#defaultColors {
  position: absolute;
  display: inline-block;
  top: 380px;
  left: 95px;
  width: 130px;
}

#presetGrey {
  position: absolute;
  display: inline-block;
  top: 430px;
  left: 95px;
  width: 130px;
}

#presetRed {
  position: absolute;
  display: inline-block;
  top: 480px;
  left: 95px;
  width: 130px;
}

#presetGreen {
  position: absolute;
  display: inline-block;
  top: 530px;
  left: 95px;
  width: 130px;
}

#appearDiv {
  font-size: 18px;
  top: 100px;
  left: 150px;
  height: 600px;
  width: 600px;
  position: absolute;
  display: inline-block;
  padding: 15px;
  z-index: 9;
}

#BGpick {
  position: absolute;
  display: inline-block;
  margin: 0px;
  top: 25px;
  left: 10px;
  width: 300px;
  text-align: center;
}

#ACpick {
  position: absolute;
  display: inline-block;
  margin: 0px;
  top: 110px;
  left: 10px;
  width: 300px;
  text-align: center;
}

#shad1Pick {
  position: absolute;
  display: inline-block;
  margin: 0px;
  top: 195px;
  left: 10px;
  width: 300px;
  text-align: center;
}

#shad2Pick {
  position: absolute;
  display: inline-block;
  margin: 0px;
  top: 280px;
  left: 10px;
  width: 300px;
  text-align: center;
}

#nameLabelDiv {
  position: absolute;
  display: inline-block;
  margin: 0px;
  width: 300px;
  top: 25px;
  right: 10px;
  text-align: center;
}

#namecolorLabelDiv {
  position: absolute;
  display: inline-block;
  margin: 0px;
  top: 110px;
  right: 10px;
  width: 300px;
  text-align: center;
}

#nameOutlineDiv {
  position: absolute;
  display: inline-block;
  margin: 0px;
  top: 195px;
  right: 10px;
  width: 300px;
  text-align: center;
}

#glowLabelDiv {
  position: absolute;
  display: inline-block;
  margin: 0px;
  top: 280px;
  right: 10px;
  width: 300px;
  text-align: center;
}
