body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  color: white;
  text-shadow:
    1px 1px 1px black,
    -1px -1px 1px black,
    -1px 1px 1px black,
    1px -1px 1px black;
}

.container {
  position: absolute;
  display: inline-block;
  width: 900px;
  height: 760px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  box-sizing: border-box;
}

h3 {
  text-align: center;
}

.input-group {
  float: left;
  width: 25%;
  margin-left: 5px;
  clear: left;
}

.button-class {
  position: absolute;
  width: 250px;
  top: 20px;
  right: 10px
}

#switchButton {
  position: absolute;
  display: inline-block;
  top: 330px;
  left: 25px;
}

.button-class button {
  width: 45%;
  margin: 2px 0px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.hex-input {
  display: flex;
  align-items: center;
  width: calc(80% + 10px);
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 10px;
}

.rgb-inputs {
  display: flex;
  align-items: center;
  width: calc(80% + 10px); 
}

.rgb-inputs input[type="text"] {
  width: 100%;
}

.rgb-label {
  margin-right: 5px;
  width: 20px; 
}

#moreButton {
  left: 34px;
  top: 220px;
  position: absolute;
}

.slider-container {
  position: absolute;
  bottom: 80px;
  right: 0px;
  width: 30%;
  height: auto;
}

.slider-inner {
  display: block;
  height: 80px;
  width: 100%;
}

.slider-left {
  width: 100%;
}

.slider-right {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 90%;
  height: 8px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity .15s ease-in-out;
  margin-bottom: 15px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.isButtons {
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid black;
  background: rgba(0,0,0,.3);
  color: white;
  text-shadow:
    1px 1px 1px black,
    -1px -1px 1px black,
    -1px 1px 1px black,
    1px -1px 1px black;
&:hover {
  background: rgba(0,0,0,.5);
  }
&:active {
  transform: scale(.98);
  }
}

#swapButton {
  position: relative;
  top: 35px;
  left: 45px;
}

#boostButton {
  position: relative;
  top: 35px;
  left: 70px;
}

.color-box2 {
  position: absolute;
  width: 900px;
  height: auto;
  left: 0px;
  bottom: 0px;
}

.color-box {
  position: absolute;
  width: 900px;
  height: auto;
  left: 0px;
  bottom: 40px;
}

.color {
  text-align: center;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid black;
}

.color-name {
  text-align: center;
  font-size: 10px;
  color: white;
  text-shadow:
    1px 1px 1px black,
    -1px -1px 1px black,
    -1px 1px 1px black,
    1px -1px 1px black;
}

.box {
  margin: 5px;
  padding: 0px;
  text-align: center;
  display: inline-block;
  border-radius: 8px;
}

#colorPicker {
  position: fixed;
  top: 20px;
  right: 20px;
}

.css-generator {
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.css-wrapper {
  position: absolute;
  top: 150px;
  right: 30px;
  width: 130px;
}

.css-generator h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #555;
}

.css-property {
  margin-bottom: 10px;
}

.input-with-buttons {
  display: flex;
  align-items: center;
}

.input-with-buttons button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: #ddd;
  border: none;
  outline: none;
  border-radius: 4px;
}

.input-with-buttons button:hover {
  background-color: #ccc;
}

.input-with-buttons input[type="number"] {
  width: 35px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  margin: 0 5px;
}

.css-property textarea {
  position: absolute;
  display: inline-block;
  width: 55%;
  margin: 15px;
  top: 760px;
}

.output-box {
  display: block;
  height:  80px;
  width:  160px;
  top: 270px;
  left: 350px;
  position: absolute;
  display: inline-block;
  border-radius: 8px;
}


